<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207738622330-tlj1fihrgl32r2nmp9lunrot8m7iq8nh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207738622330-tlj1fihrgl32r2nmp9lunrot8m7iq8nh</string>
	<key>API_KEY</key>
	<string>AIzaSyAgCvs_a0qrDUAZI6GdVPIplmIkb9TcGlU</string>
	<key>GCM_SENDER_ID</key>
	<string>207738622330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.collectrus.com</string>
	<key>PROJECT_ID</key>
	<string>collectrus-e4435</string>
	<key>STORAGE_BUCKET</key>
	<string>collectrus-e4435.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207738622330:ios:c5452330df11d5002d06c3</string>
	<key>DATABASE_URL</key>
	<string>https://collectrus-e4435.firebaseio.com</string>
</dict>
</plist>